.container-list {
    margin: 10px;
    padding: 10px;
}

table {
    margin-top: 5px;
    padding-top: 5px;
    width: 100%;
    background-color: #f2faef96;
}

table,
tr {
    border: 1px solid #99BC85;
    border-collapse: collapse;
    text-align: center;
}

th,td{
    margin: 5px;
    padding: 5px;
}


/* For Mobile Portrait View */
@media screen and (max-device-width: 550px) and (orientation: portrait) {

    th,td{
        word-break: break-all;
    }

    td:nth-child(3),
    th:nth-child(3) {
        display: none;
    }

    td:nth-child(4),
    th:nth-child(4) {
        display: none;
    }

    td:nth-child(5),
    th:nth-child(5) {
        display: none;
    }
}
