<div class="register-container">
    <form [formGroup]="studentForm" (submit)="onSubmit()">
        <div class="item">
            <label for="">Student Name</label>
            <input type="text" placeholder="Student Name" formControlName="name">
        </div>

        <div class="item">
            <label for="">Student Email</label>
            <input type="text" placeholder="Email" formControlName="email">
        </div>

        <div class="item">
            <label for="">Student Password</label>
            <input type="text" placeholder="Password" formControlName="password">
        </div>

        <div class="item">
            <label for="">Gender</label>
            <select formControlName="gender">
                <option [selected]="true" [disabled]="true" hidden>Select Gender</option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
                <option value="OTHER">Other</option>
            </select>
        </div>

        <div class="item">
            <label for="">Date Of Birth</label>
            <input type="date" formControlName="dob">
        </div>

        <div class="item">
            <label for="">Department</label>
            <select formControlName="department">
                <option [selected]="true" [disabled]="true" [hidden]="true">Select Department</option>
                <option *ngFor="let dept of department_resp" [value]="dept.id">{{dept.name}}</option>
            </select>
        </div>

        <div class="item">
            <label for="">Semester</label>
            <select formControlName="semester">
                <option [selected]="true" [disabled]="true" hidden>Select Semester</option>
                <option value="SEM_1">Sem-1</option>
                <option value="SEM_2">Sem-2</option>
                <option value="SEM_3">Sem-3</option>
                <option value="SEM_4">Sem-4</option>
                <option value="SEM_5">Sem-5</option>
                <option value="SEM_6">Sem-6</option>
                <option value="SEM_7">Sem-7</option>
                <option value="SEM_8">Sem-8</option>
                <option value="SEM_9">Sem-9</option>
                <option value="SEM_10">Sem-10</option>
            </select>
        </div>

        <div class="item">
            <label for="">Registration Number</label>
            <input type="text" placeholder="Registration Number" formControlName="registrationNumber">
        </div>

        <div class="item">
            <label for="">University Roll</label>
            <input type="text" placeholder="University Roll" formControlName="universityRoll">
        </div>

        <div class="item">
            <button class="button-register" type="submit" [disabled]="studentForm.invalid">Save Student</button>
        </div>

    </form>

    <button class="button-back" (click)="back()">Back</button>
</div>
