<div class="instructor-container">
    <button class="button-register" (click)="navigateToRegisterStudent()">Add New Student</button>
    <table>
        <tr>
            <th>Student Id</th>
            <th>Student Name</th>
            <th>Semester</th>
            <th>Department</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Registration Number</th>
            <th>University Roll</th>
            <th>Edit/Delete</th>
        </tr>
        <tr *ngFor="let student of studentList">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.semester}}</td>
            <td>{{student.department.name}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.userAuth.email}}</td>
            <td>{{student.registrationNumber}}</td>
            <td>{{student.universityRoll}}</td>
           
            <td><i class="fa-regular fa-pen-to-square" (click)="editStudent(student.id)"></i> <i class="fa-regular fa-trash-can" (click)="deleteStudent(student.id)"></i></td>
        </tr>
    </table>
</div>