<div class="course-container">
    <button class="button-register" (click)="navigateToRegisterCourse()">Add New Course</button>
    <table>
        <tr>
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Course Code</th>
            <th>Course Type</th>
            <th>Semester</th>
            <th>Edit/Delete</th>
        </tr>
        <tr *ngFor="let course of courseList">
            <td>{{course.id}}</td>
            <td>{{course.courseName}}</td>
            <td>{{course.courseCode}}</td>
            <td>{{course.courseType}}</td>
            <td>{{course.semester}}</td>
            <td><i class="fa-regular fa-pen-to-square" (click)="editCourse(course.id)"></i> <i class="fa-regular fa-trash-can" (click)="deleteCourse(course.id)"></i></td>
        </tr>
    </table>
</div>