.container {
    margin: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.inner-container {
    display: flex;
    justify-content: space-between;
    word-break: break-word;
}

td{
    margin-left: 5px;
    padding-left: 5px;
    margin-right: 5px;
    padding-right: 5px;
}

.instructor-details,
.course-container,
.batch-container {
    flex: 1;
    margin: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.filterList {
    margin: 10px;
    padding: 10px;
}

.button-item {
    padding: 5px;
    margin: 5px;
}
table{
    margin: 5px;
    padding: 5px;
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 550px) and (orientation: portrait) {
    .inner-container {
        display: block;
    }

}