<div class="register-container">
    <form [formGroup]="departmentForm" (submit)="onSubmit()">
        <div class="item">
            <label for="">Department Name</label>
            <input type="text" placeholder="Department Name" formControlName="departmentName">
        </div>
        
        <div class="item">
            <button class="button-register" type="submit" [disabled]="departmentForm.invalid">Save Department</button>
        </div>
    </form>
    <button class="button-back" (click)="back()">Back</button>
</div>