<div class="instructor-container">
    <button class="button-register" (click)="navigateToRegisterInstructor()">Add New Instructor</button>
    <table>
        <tr>
            <th>Teacher Id</th>
            <th>Teacher Name</th>
            <th>Department</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Role</th>
            <th>Courses</th>
            <th>Assign Courses</th>
            <th>Assign Batches</th>
            <th>Assign/Remove Admin</th>
            <th>Edit/Delete</th>
        </tr>
        <tr *ngFor="let instructor of instructorList">
            <td>{{instructor.id}}</td>
            <td>{{instructor.name}}</td>
            <td>{{instructor.department.name}}</td>
            <td>{{instructor.gender}}</td>
            <td>{{instructor.userAuth.email}}</td>
            <td>{{instructor.userAuth.role}}</td>
            <td>
                <ol>
                    <li *ngFor="let course of instructor.courses">{{course.courseName}} {{course.courseType}}</li>
                </ol>
            </td>
            <td><i class="fa-solid fa-book-bookmark" (click)="assignCourses(instructor.id)"></i></td>
            <td><i class="fa-solid fa-users-rays" (click)="assignBatches(instructor.id)"></i></td>
            <td><i class="fa-solid fa-user-tie" *ngIf="instructor.userAuth.role=='ADMIN'" (click)="toggleRole(instructor)"></i><i class="fa-solid fa-screwdriver" *ngIf="instructor.userAuth.role=='INSTRUCTOR'" (click)="toggleRole(instructor)"></i></td>
            
            <td><i class="fa-regular fa-pen-to-square" (click)="editInstructor(instructor.id)"></i> <i class="fa-regular fa-trash-can" (click)="deleteInstructor(instructor.id)"></i></td>
        </tr>
    </table>
</div>