.container-dashboard{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: space-between;
    /* align-items: stretch; */
}
.container-dashboard .item{
    flex-grow: 2;
    background-color: var(--second);
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--first);
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

.container-dashboard .item:hover {
    box-shadow: 0 0 10px 5px var(--first);
  }
  