<div class="container-dashboard">
    <div class="item" (click)="navigateToCourseList()">
        <h3>Total Course : {{courseCount}}</h3>
        <h5>Add or Remove </h5>
    </div>
    <div class="item" (click)="navigateToDepartmentList()">
        <h3>Total Department : {{departmentCount}}</h3>
        <h5>Add or Remove </h5>
    </div>
    <div class="item" (click)="navigateToInstructorList()">
        <h3>Total Teacher : {{teacherCount}}</h3>
        <h5>Add or Remove </h5>
    </div>

    <div class="item" (click)="navigateToStudentList()">
        <h3>Total Student : {{studentCount}}</h3>
        <h5>Add or Remove </h5>
    </div>
    <div class="item" (click)="navigateToBatchList()">
        <h3>Total Batch : {{batchCount}}</h3>
        <h5>Add or Remove </h5>
    </div>
    <div class="item">
        <h3>Assign as Admin</h3>
        <h5>Add or Remove </h5>
    </div>

    <div class="item">
        <h3>Assign Instructor To Course</h3>
        <h5>Add or Remove </h5>
    </div>
    
    <div class="item">
        <h3>Assign Course To Student</h3>
        <h5>Add or Remove </h5>
    </div>

</div>