.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: var(--fourth);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-item {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-item label {
    font-weight: 600;
    margin-bottom: 5px;
}

.form-item input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}