ul {
    display: flex;
    justify-content: space-between;
}

ul li {
    list-style: none;
    font-size: 2rem;
    margin: 7px;
    padding: 7px;
    cursor: pointer;
    border: 1px solid var(--third);
}

ul li:hover {
    background-color: var(--first);
    border: 1px solid var(--third);
    color: var(--third);
    border-radius: 4px;
}
