<div class="register-container">
  <form [formGroup]="batchForm" (submit)="onSubmit()">
    <div class="item">
      <label for="batchName">Batch Name</label>
      <input type="text" id="batchName" placeholder="Batch Name" formControlName="batchName">
    </div>

    <div class="item">
      <label for="batchType">Batch Type</label>
      <select id="batchType" formControlName="batchType" (change)="onSelectChange($event,'batchType')">
        <option [selected]="true" [disabled]="true" hidden>Select Batch Type</option>
        <option value="THEORY">Theory</option>
        <option value="LABORATORY">Laboratory</option>
      </select>
    </div>

    <div class="item">
      <label for="semester">Semester</label>
      <div
        *ngIf="(filterOptions.batchType === 'THEORY' || filterOptions.batchType === 'LABORATORY') || !(isUpdating&&filterOptions.sem); else noSemester">
        <select id="semester" formControlName="semester" (change)="onSelectChange($event,'sem')">
          <option [selected]="true" [disabled]="true" hidden>Select Semester</option>
          <option value="SEM_1">Sem-1</option>
          <option value="SEM_2">Sem-2</option>
          <option value="SEM_3">Sem-3</option>
          <option value="SEM_4">Sem-4</option>
          <option value="SEM_5">Sem-5</option>
          <option value="SEM_6">Sem-6</option>
          <option value="SEM_7">Sem-7</option>
          <option value="SEM_8">Sem-8</option>
          <option value="SEM_9">Sem-9</option>
          <option value="SEM_10">Sem-10</option>
        </select>
      </div>
      <ng-template #noSemester>
        <p>Please select a batch type.</p>
      </ng-template>
    </div>

    <div class="item">
      <label for="department">Department</label>
      <select id="department" formControlName="department">
        <option [selected]="true" [disabled]="true" [hidden]="true">Select Department</option>
        <option *ngFor="let dept of department_resp" [value]="dept.id">{{ dept.name }}</option>
      </select>
    </div>

    <div class="item">
      <label for="courses">Select Courses</label>
      <div *ngIf="filteredCourse.length > 0 && filterOptions.sem; else noCourses" formArrayName="courses">
        <div *ngFor="let control of coursesFormArray.controls; let i = index">
          <input type="checkbox" [formControlName]="i"> {{ filteredCourse.at(i)?.courseName }}
        </div>
      </div>
      <ng-template #noCourses>
        <p>No courses available for the selected semester.</p>
      </ng-template>
    </div>

    <div class="item">
      <button class="button-register" type="submit"
        [disabled]="batchForm.invalid || !batchForm.get('courses')!.valid">Save Batch</button>

    </div>
  </form>

  <button class="button-back" (click)="back()">Back</button>
</div>