<div class="container">
    <h1>Signin</h1>
    <form [formGroup]="loginForm" (submit)="onSubmit()">
        <div class="form-item">
            <label for="email">Email/Username</label>
            <input type="email" placeholder="Email/Username" formControlName="email">
            <div *ngIf="val['email'].touched && val['email'].invalid">Invalid Email</div>
        </div>
        <div class="form-item">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" formControlName="password">
            <div *ngIf="val['password'].touched && val['password'].invalid">Invalid Password</div>
        </div>
        <div class="form-item">
            <button class="button-register" type="submit" [disabled]="loginForm.invalid">SignIn</button>
        </div>
    </form>
</div>